* {
  box-sizing: border-box;
}

body {
  padding: 24px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style: none;
  padding: 0;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 300px;
  object-fit: cover;
}