body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.feedback-form {
  width: 417px;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
}

.feedback-form input,
.feedback-form textarea {
  margin-top: 8px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #afafaf;
  outline: none;
  font-size: 16px;
  color: #22343d;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form textarea {
  resize: none; /* Запрещаем менять размер */
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #02897a;
}

.feedback-form button {
  width: 100%;
  height: 45px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #01a08d;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.15s ease,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover {
  background-color: #02897a;
  transform: translateY(-2px);
}

.feedback-form button:active {
  transform: scale(0.97);
  background-color: #027a6b;
}

a {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #02897a;
  text-decoration: none;
  font-weight: 500;
}
